*{
    box-sizing: border-box;
    margin: 0;
    color: white;
    text-decoration: none;
}
body{
    background-color: black;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-post{
    font-size: 32px;
}
.post{
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    gap: 150px;
    
}
.post-section{
    display: flex;
    gap: 20px;
    width: 450px;
}
section .post-title{
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    background-color: rgb(77, 113, 78);
    padding: 10px;
    border-radius: 10px;
}

section .post-content{
    width: 100%;
    background-color: rgb(153, 116, 116);
    height: 20rem;
    padding: 10px;
    border-radius: 10px;
}

section .post-category{
    padding: 10px;
    width: 100%;
    background-color: rgb(86, 87, 128);
    border-radius: 10px;
}
section .comments{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(100, 83, 55);
}
.action{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.action a{
    text-decoration: none;
}